<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="http://localhost:3000/assets/css/style.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    <form action="http://127.0.0.1:3000/process_post" method="POST">
email: <input type="email" name="email">  <br> <br>

password:  <input type="password" name="password"><br><br>
<input type="submit" value="Submit">
</form>
<br>
<a href="register">new users register here</a>
  </body>
</html>
