<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/assets/css/style.css" media="screen" title="no title" charset="utf-8">

    <title>register</title>
  </head>
  <body>
    <form class="" action="http://127.0.0.1:3000/get" method="POST">
   firstname:<input type="text" name="firstname" value=""><br><br>
   lastname: <input type="text" name="lastname" value=""><br><br>
   email:    <input type="email" name="email" value=""><br><br>
   password: <input type="password" name="password" value=""><br><br>
   dob:      <input type="date" name="dob" value=""><br><br>
   gender:   <select name="gender">
                <option>male</option>
                <option>male</option>
             </select> <br><br>
   mobile:   <input type="tel" name="mobile" value=""><br><br>
   location: <input type="text" name="location" value=""><br><br>
                    <input type="submit" value="register">
    </form>
  </body>
</html>
